{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<style>
    .chat-container {
        height: calc(100vh - 200px);
        min-height: 500px;
    }

    .message-container {
        height: calc(100% - 70px);
        overflow-y: auto;
    }

    .message {
        margin-bottom: 1rem;
        max-width: 75%;
    }

    .message.sent {
        margin-left: auto;
    }

    .message.received {
        margin-right: auto;
    }

    .message.system {
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
        text-align
